:root {
    --couleur-primaire : #302F7D;
    --couleur-secondaire: #EA684A;
}

h1, h3 {
color: var(--couleur-secondaire);
}

h2 {
color: var(--couleur-primaire);
}

footer {
display: none;
}

.mise-en-avant {
display: block;
margin-block: 2rem;
padding: .5rem;
text-align: center;
  font-size: 1.5rem;
color: white;
font-weight: bold;
background-color: var(--couleur-primaire);
}

.mise-en-avant a {
color: inherit
}