:root {
    --couleur-primaire : #302F7D;
    --couleur-secondaire: #EA684A;
}

h1, h3 {
color: var(--couleur-secondaire);
}

h2 {
color: var(--couleur-primaire);
}

footer {
display: none;
}

.mise-en-avant {
display: block;
padding: .5rem;
color: white;
font-weight: bold;
background-color: var(--couleur-primaire);
}